{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{deps, [
  {lager, "3.4.2"}
  ,{csv_parser, {git, "git://github.com/jiarenjie/csv_parser", {branch, "master"}}}
]}.
{shell, [
%%  {apps, [crypto, ranch, cowlib, cowboy, mnesia, erlydtl, lager, up_config, payment_gateway]}
  {apps, [pg_mnesia_utils]}
  , {config, "sys.config"}]}.